
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
.outsidecontainer {
    display: flex;
    border: solid 2px red;
    margin: 30px;
    padding: 30px;
}

.linkedbuttons {
    display: flex;
    border: solid 2px purple;
}

.linkedtext {
    display: flex;
    border: solid 2px green;
}

