
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
.outsidecontainer {
    display: flex;
    margin: 30px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

.linkedbuttons {
    display: flex;
    margin: 50px;
    flex-direction: column;
}

.linkedtext {
    display: flex;
    margin: 50px;
    flex-direction: column;
}

.link {
    padding: 5px;
    margin: 20px;
}

.button {
    padding: 5px;
    margin: 20px;
    background-color: rgba(128, 128, 128, 0.306);
    border: solid 1px black;
    text-align: center;
}

.button:hover{
    background-color: rgba(128, 128, 128, 0.646);
}

.link img {
    height: 15px;
}

.button img {
    height: 15px;
}